* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: rgb(215, 244, 248);
  --red: rgb(243, 78, 56);
  --light-blue: rgb(237, 250, 252);
  --light-blue-opacity: rgba(221, 221, 221, 0.9);
  --font-family-dancing: dancing script, sans-serif;
  --font-family-roboto: roboto slab, sans-serif;
}
header {
  display: flex;
  justify-content: space-between;
  height: 6rem;
  background-color: var(--blue);
  align-items: center;
  position: fixed;
  width: 100%;
}

header a {
  text-decoration: none;
  color: black;
}
header ul {
  list-style: none;
  display: flex;
  font-size: 1.7rem;
  font-family: dancing script, sans-serif;
}

header ul li {
  margin-right: 2rem;
  padding-right: 1rem;
  font-size: 1.8rem;
  font-weight: 700;
}
.page-logo {
  font-size: 3rem;
  margin-left: 3rem;
  font-weight: 700;
  font-family: roboto slab, sans-serif;
}

.home-btn {
  color: var(--red);
}
.menu-btn:hover {
  color: var(--red);
}

#image-container {
  height: 60rem;
  background-color: var(--light-blue);
  background-image: url("/images/affordable_photographer_london.jpg");
  background-position: center;
  background-size: cover;
}

.image-container-text {
  width: 100%;
  height: 100%;
  background-color: var(--light-blue-opacity);
  box-shadow: rgb(68, 67, 67);
  border-radius: 8px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
}

.image-container-text h1 {
  font-family: var(--font-family-dancing);
  text-shadow: 1px 1px black;
  color: var(--red);
  font-size: 6rem;
  margin-bottom: 4rem;
  padding-top: 10rem;
}
.image-container-text h2 {
  font-family: var(--font-family-dancing);
  font-size: 3rem;
  text-shadow: 1px 1px var(--light-blue-opacity);
  margin-bottom: 2rem;
  padding-top: 3rem;
}
.image-container-text a {
  font-family: var(--font-family-roboto);
  font-size: 1rem;
  padding: 0.4rem;
  padding-bottom: 1rem;
  text-decoration: none;
  text-shadow: 0.2px 0.2px black;
  color: var(--blue);
  background-color: var(--red);
  border-radius: 5px;
}
.link-image {
  margin-bottom: 1rem;
}
.image-container-text a:hover {
  background-color: var(--blue);
  color: var(--red);
  text-shadow: 0.2px 0.2px black;
  transition: ease-in 0.7s;
}
#affordable-photography {
  background-color: var(--blue);
  width: 80%;
  margin: auto;
  height: 100%;
  padding-bottom: 2rem;
}

.affordable-photography {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.affordable-photography h3 {
  font-family: var(--font-family-dancing);
  font-size: 3rem;
  margin-top: 6rem;
  color: var(--red);
}
.affordable-photography p {
  font-family: var(--font-family-roboto);
  font-size: 1.6rem;
  margin-top: 3rem;
}

main {
  background-color:var(--blue);
}

